div.titlebox {border:3px!important;border-color:#fff!important;}

#header-img.default-header {background-image: url(%%sprite%%);}
body, .side {background-color: #000!important;}
label, h2 {color:#fff;}
#sr-header-area .srdrop span {background-color: #2e2d2b!important;color:#999!important;}
#sr-header-area, #sr-header-area a {background-color: #2e2d2b!important;color:#999!important;border:0px;}
#sr-header-area .srdrop span:hover {color:#fff!important;}
#sr-header-area:hover, #sr-header-area a:hover {color:#fff!important;}
#header {background-color: #363636!important
;color:#fff!important;position:fixed;width:100%;top:0px;border-color: #fff;background: url(%%banner%%) no-repeat bottom center;}
#header-bottom-left ul.tabmenu li a {background-color: #363636!important;border-color: #fff;font-weight: normal;text-decoration:none;}
#header-bottom-left ul.tabmenu li.selected a {background-color: #000!important;border-bottom-color:#000;font-weight: normal;text-decoration:none;}
#header ul.tabmenu {position:absolute;bottom:0px;}
#header-bottom-right {background-color: transparent;border-top-left-radius:0px;height:12px;}
#header-bottom-right span, #header-bottom-right span.user {color:#fff!important;}
#header .redditname {font-size:20px;font-weight:normal;}

.titlebox form {position: static;}
.side h6 {position:fixed;top:20px;left:0px;width:100%;background-color:transparent;text-align:center;padding:4px;display:block;z-index:1000;}

.thumbnail.self {background-image: url(%%sprite%%);}
div.odd {background-color:#2e2d2b;margin-bottom:4px;padding:4px;}
div.even {background-color:#363636;margin-bottom:4px;padding:4px;}
.content {margin-right:330px;margin-top:70px;}
div.spacer ul {background-color: #363636;}
div.spacer .titlebox {background-color: #363636;color:#fff;}
div.subtitle * {background-color: #363636;}
.title {color: #BCDCFF!important;text-decoration:none;}
.title .domain a {text-decoration:none;}
.title .domain a:hover {text-decoration:underline;}
div.md, div.md a {color: #fff!important;}
.title a.title:visited {color:#fff!important;}
ul.flat-list a, ul.flat-list {color: #fff!important;text-decoration:none;}
div.expando .md {background-color:transparent!important;border-radius:0px!important;border-color:#bbb!important;}
.expando-button {border-radius:4px!important;}
div.usertext-edit textarea {background-color: #2e2d2b;color:#fff;}
a.expand {color:#fff;}
span.dropdown-title {color:#fff;}
.nextprev a {color:#2e2d2b;}
.nextprev {line-height:30px;}
div.drop-choices.lightdrop a {background-color:#2e2d2b;color:#fff!important;}
div.drop-choices.lightdrop a:hover {background-color:#363636;color:#fff!important;}
.content .comment .usertext.grayed .usertext-body {background-color:#000!important;}
.usertext-body {background-color:transparent!important;}
.infobar {color:#fff;background-color: #2e2d2b!important;}
div.markhelp table.md tr {background-color:transparent!important;}
div.infobar.welcome {background-color: #2e2d2b!important;}
form#subreddit_stylesheet .sheets {margin-right:0px!important;}
ul#image-preview-list div.description {color:#fff;}
.content form#newlink .usertext-edit textarea {background-color:#fff!important;color:#000!important;}
.content ul.tabmenu li a {color:#000;}
.content div.tabpane-content {background-color:#363636;color:#fff;}

.search-page div.searchpane label, .search-page div.searchpane a {color:#fff;}
.search-page div.search-summary {background-color: #2e2d2b;color:#fff;padding:5px;}
.search-page div.searchpane.raisedbox {margin-right:0px!important;background-color: #2e2d2b;}
.search-page div.content {margin-right:330px!important;}
.search-page .searchfacets {background-color: #363636;}
.search-page .searchfacets .number {color: #fff;}
.search-page p.tagline a.subreddit {color: #fff;}

input[name=q] {background-color: #363636;color:#fff!important;}
form#search {color: #fff!important;}
#searchexpando {background-color:#363636;border-color:#595959;}
.side .submit-link a, div.submit-text a {font-weight:500;font-size:13px;}
.side .morelink {border-color:#595959;}
.side .morelink a.login-required:hover {background-color:#2e2d2b!important;}
.side .nub {display:none;}
.side .linkinfo {background-color: #363636;border-color:#595959;}
.side .linkinfo .score, .side .linkinfo time, .side .linkinfo .date, .side .linkinfo .shortlink {color:#fff!important;}
.side form.toggle.flairtoggle {background-color: #363636;}
.side form.leavecontributor-button {background-color: #363636;color:#fff;}
.side .titlebox {top:-50px!important;}
.side .titlebox {padding: 5px 5px 5px 5px;}
.sidebox a {background-color: #363636!important;color:#fff!important;}
.sidebox .spacer {background-color: #000;}
.sidebox .spacer a {background-color: #000!important;}
div.leavemoderator {background-color:#363636;color:#fff;} 
.userkarma {color: #fff;}
.titlebox .word, .number {color:#fff!important;}
div.titlebox h2 {font-size:18px;font-weight:normal;line-height:35px;}
a {color:#fff;text-decoration:underline;}
.author {color:#fff!important;}
div.side .md a {color:#2e2d2b;}
div.side .md {color:#fff;}
div.side expando {margin-right:10px;}
div.side .md a {color:#fff;}
a.sr {color:#0000ff;}
.side a.flairselectbtn {color:#fff;text-decoration:underline;}

.redditname a {color:#fff!important;text-decoration:none;padding-left:15px;}
div.titlebox h1 {background-color:#2e2d2b;height:35px;line-height:35px;vertical-align:middle;margin-left:-15px;margin-right:-5px;margin-top:-5px;position: relative;}
h1.redditname {overflow: visible!important;}
div.titlebox h1:after {content: ' ';position: absolute;width: 0;height: 0;left: 0px;top: 100%;border-width: 5px 5px;border-style: solid;border-color: #595959 #595959 transparent transparent;} 

div.sidecontentbox .title h1 {background-color:#2e2d2b;color:#fff!important;padding-left:15px;}  
div.sidecontentbox .title {background-color:#2e2d2b;height:25px;line-height: 25px;vertical-align:middle;margin-left:-10px;position: relative;}  
div.sidecontentbox .title:after {content: ' ';position: absolute;width: 0;height: 0;left: 0px;top: 100%;border-width: 5px 5px;border-style: solid;border-color: #595959 #595959 transparent transparent;}  
span.collapse-button {margin-bottom:8px!important;}
.sidecontentbox a.helplink {margin-top:-13px;margin-right:5px;}

#moderation_tools a {background-color:#363636;}

#wikiactions a {background-color:#363636;}

.wiki-page em {color:#fff;}
.wiki-page .infobar p {color:#2e2d2b;}
.wiki-page td {color:#fff;}
.wiki-page-content {background-color:#363636!important;padding:5px;margin-right:0px!important;}

div.linefield span, div.linefield label, div.linefield a {color:#000!important;}

.submit-page .content h1 {color:#fff;}
.submit-page .roundfield, .submit-page .roundfield a {background-color:#2e2d2b!important;border-color:#595959!important;color:#fff!important;}
.submit-page .roundfield span.title {color:#fff!important;}
.submit-page a.text-button, .submit-page a.link-button {background-color:#363636!important;}
.submit-page div.formtabs-content {border-color:#2e2d2b!important;}
.submit-page .roundfield ul {background-color:#2e2d2b!important;}
div.info-notice a {color:#000!important;}

.footer-parent:before {content:"Subreddit theme /r/DarkTheme";display:block;color:#595959;}

.login-popup .popup, .lang-popup .popup {background-color:#2e2d2b;z-index:2000;}
.login-popup .popup label, .login-popup .popup h1, .login-popup .popup h3, .login-popup .popup p, .login-popup .popup span.notice-available {color:#fff!important;}
.lang-popup .popup th, .lang-popup .popup .gray {color:#fff!important;}

.comment-visits-box {background-color:#2e2d2b;}

.RES-keyNav-activeElement a, .RES-keyNav-activeElement p {color:#2e2d2b!important;}
.res-commentBoxes .child *, .res-commentBoxes-rounded .child *, .res-parents-down .child * {color:#2e2d2b!important;}
.RES-keyNav-activeElement div.expando .md a {color:#2e2d2b!important;}
.RES-keyNav-activeElement ul.flat-list a, .RES-keyNav-activeElement ul.flat-list {color: #2e2d2b!important;}
.RES-keyNav-activeElement {padding:0px 5px 0px 5px;}
.RES-keyNav-activeElement .title a:visited {color: #2e2d2b!important;}
.res-navTop #authorInfoToolTip h3 a {color: #2e2d2b!important;}
.multi-list label {color: #2e2d2b!important;}
table#srList {background-color: #2e2d2b!important;color:#999!important;}
table#srList tr:hover {background-color: #363636!important;color:#2e2d2b!important;}
#RESShortcutsAddFormContainer, #editShortcutDialog {background-color: #2e2d2b!important;color:#fff!important;z-index:2000!important;}
#RESShortcutsEditContainer, #RESShortcutsSort, #RESShortcutsLeft, #RESShortcutsAdd, #RESShortcutsRight, #userbarToggle {background-color:transparent!important;}
.res-navTop {margin-top:15px;}
#sort-menu.drop-choices {background-color: #2e2d2b!important;color:#fff!important;}
#RESSubredditGroupDropdown {background-color: #2e2d2b!important;}
#RESSubredditGroupDropdown li:hover {background-color: #363636!important;}
#RESSubredditGroupDropdown li * {color:#999!important;}
#RESSubredditGroupDropdown li:hover * {color:#fff!important;}
#fw86A {color:#fff!important;}
#RESConsole label, .guider label, .guider h2 {color:#000!important;}
#RESConsoleSubredditLink, .guider a {color:#369!important;}
.res-commentBoxes, .res-commentBoxes-rounded, .res-parents-down {background-color:transparent!important;}